.item-list-security {
  display: flex;
  color: $primary-color;

  @media screen and (min-width: 768px) {
    padding: 80px 0;
  }
  @media screen and (max-width: 767px) {
    padding: 40px 0;
  }
  &:not(:last-child) {
    border-bottom: 2px solid $tertiary-color;
  }
  .icon-list-security {
    flex-basis: calc(100% / 12 * 4);
    text-align: center;
    margin-top: 15px;
    svg {
      @media screen and (max-width: 767px) {
        max-width: 100px;
        height: auto;
      }
      @media screen and (max-width: 374px) {
        max-width: 80px;
      }
    }
  }
  .description-list-security {
    flex-basis: calc(100% / 12 * 8);
    h5 {
      font-weight: 700;
      line-height: 1.4;
      @media screen and (min-width: 768px) {
        font-size: 32px;
        margin-bottom: 30px;
      }
      @media screen and (max-width: 767px) {
        font-size: 24px;
        margin-bottom: 12px;
      }
    }
    p {
      line-height: 1.8;
      font-weight: 400;
      
      @media screen and (min-width: 768px) {        
        font-size: 18px;
        margin-bottom: 30px;
      }
      @media screen and (max-width: 767px) {
        font-size: 13px;
        margin-bottom: 15px;
      }
    }
    ul {
      li {
        margin-bottom: 15px;
        a {
          color: $secondary-color;
          font-weight: 600;
          font-size: 18px;
          line-height: 1.8;
          &:hover {
            color: #5b88ff;
          }
        }
      }
    }
  }
}
